<h1>Veuillez confirmez votre email</h1>

<p>
    Confirmez votre adresse email en cliquant sur le lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bienvenue!
</p>
