<footer class="bg-light text-center text-lg-start container footer" style="background-color: #1F3D89; color: white">
  <!-- Grid container -->
  <div class="container informationsdivers" style="background-color: #1F3D89; color: white" >
    <!--Grid row-->
    <div class="informationsftr">
      <!--Grid column-->
      <div class="aproposdeclinikall">
        <h5 class="text-uppercase mb-0">À propos de Clinikall</h5>
            <a href="#!" class="text-dark">Test Covid -dépistage</a> • <a href="#!" class="text-dark">Test PCR</a> • <a href="#!" class="text-dark">À propos de nous</a> • <br><a href="#!" class="text-dark">Besoin d'aide ?</a>
      </div>
      <!--Grid column FIN-->

      <!--Grid column-->
      <div class="trouverunspe" style="color: white">
        <h5 class="text-uppercase mb-0">Trouver un spécialiste</h5>
            <a href="#!" class="text-dark">Chirurgien dentiste</a> • <a href="#!" class="text-dark">Médecin généraliste</a> • <a href="#!" class="text-dark">Dermatologue et vénérologue</a> • <a href="#!" class="text-dark">Masseur-kinésithérapeute</a>
      </div>
      <!--Grid column Fin-->

      <!--Grid column-->
      <div class="recherchesfrequentes" style="color: white">
        <h5 class="text-uppercase mb-0">Recherches fréquentes</h5>
          <a href="#!" class="text-dark" >Chirurgien-dentiste Nancy</a> • <a href="#!" class="text-dark">Ostéopathe Reims</a> • <a href="#!" class="text-dark">Médecin généraliste Strasbourg</a> • <a href="#!" class="text-dark">Pédicure-podologue Paris</a>
      </div>
      <!--Grid column Fin-->
    </div>
    <!--Grid row Fin-->
  </div>
  <!-- Grid container Fin-->

  <!-- Mentions -->
  <div class="container mentions" style="background-color: #1F3D89; color: white">
    <a class="text-dark" href="#">Conditions générales d'utilisation</a> • <a class="text-dark" href="{{path('politique_relative')}}">Politique relative à la protection des données personnelles</a> • <a class="text-dark" href="#">Politique en matière de cookies</a> • <a class="text-dark" href="#">Annuaire des médecins du CNOM</a> • <a class="text-dark" href="#">Ordre National des Médecins</a> • <a class="text-dark" href="#">Ordre National des Chirurgiens-Dentistes</a>
  </div>
        
  <!-- Mentions Fin-->

  <!-- Copyright -->
  <div class="container copyright" style="background-color: #1F3D89; color: white">
    Clinikall © 2021 Copyright : Team WF3 Carole, Joanna, Maxime 
  </div>

  <!-- Copyright Fin-->
</footer>