{% extends 'base.html.twig' %}

{% block title %}CliniKall | Accueil{% endblock %}

{% block body %}

    <div class="container accueil">
        <div class="rdv-accueil">
            <div>
                <p><span>Une clinique à votre service,</span> <br>prenez rendez-vous avec <br> vos professionnels de santé</p>
            </div>
            <div class="form_control">
                <input type="text" name="praticien" id="praticien" placeholder="Rechercher un praticien">
                <input type="text" name="localisation" id="localisation" placeholder="Vôtre localisation">
                <input type="button" value="Rechercher">
            </div>
        </div>
    </div>

{% endblock %}
