{% extends 'base.html.twig' %}

{% block title %}CliniKall | Accueil{% endblock %}

{% block body %}

    <div class="container accueil">
        <div class="rdv-accueil">
            <div>
                <p><span>Une clinique à votre service,</span> <br>prenez rendez-vous avec <br> vos professionnels de santé</p>
            </div>
            <div class="form_control">
                <input type="text" name="praticien" id="praticien" placeholder="Rechercher un praticien">
                <input type="text" name="localisation" id="localisation" placeholder="Vôtre localisation">
                <input type="button" value="Rechercher">
            </div>
        </div>
    </div>
    <div class="container comment-marche">
        <div class="cm-1">
            <p>Comment ça marche ?</p>
        </div>
        <div class="cm-2">
            <div class="cm-2">
                <img src="" alt="">
                <p>Je créé un compte</p>
            </div>
            <div class="cm-3">
                <img src="" alt="">
                <p>Je cherche la spécialité</p>
            </div>
            <div class="cm-3">
                <img src="" alt="">
                <p>Je choisis mon praticien</p>
            </div>
        </div>
    </div>
    <div class="container clinique-apporte">
        <div class="ca-1">
            <p>Ce que la clinique vous apporte !</p>
        </div>
        <div class="ca-2">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>Pourquoi créer un compte ? <br>Créez un compte pour vous ou pour votre famille ! <br> En créant un compte familial, vous simplifiez vos démarches et vos parcours de soins. <br>Profitez également gratuitement du carnet de vaccination électronique.</p>
            </div>
        </div>
    </div>
    <div class="container reserve-ligne">
        <div class="rl-1">
            <p>Pourquoi réserver en ligne</p>
        </div>
        <div class="rl-2">
            <div>
                <p>Gagnez du temps, prenez rendez-vous avec vos praticiens.<br>si votre praticien a soscrit ç une offre de prise de rendez-vous en ligne, vous pourrez réserver votre créneau en quelques clics.</p>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>
    </div>

    <div class="container newsletter-subscribe">
        <div class="intro">
            <h2 class="text-center">Inscrivez vous à la newsletter</h2>
        </div>
        <div class="formulaire-news">
            <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Inscrivez votre email ..."><button class="btn btn-primary" type="submit">Envoyer</button></div>
        </form>
        </div>
    </div>

{% endblock %}
