/***************** GLOBAL *****************/

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .container{
      max-width: 960px; 
  }

/* Définition des couleurs

:root 1{
    --color1: #7ECDED bleu clair;
    --color2: #3589C9 bleu moyen;
    --color3: #1F3D89 bleu foncé;
    --color4: #9FC51E vert clair;
    --color5: #53AE32 vert moyen;
    --color6: #086838 vert foncé;
    --color8: #000000;
    --color9: #FFFFFF;
}

/* définition des titres */


/***************** HEADER *****************/

  /* .navbar-toggle {
    position: fixed;
    right: 10px;
    top: 12px;
    cursor: pointer;
    z-index: 10;
  }

  .overlay {
      background: transparent;
      width: 100%;
      height: 100vh;
      position: fixed;
      transition: all 0.5s;
  } */
  .identification{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-2{
    padding: 0px;
  }
  .navbar-1, .navbar{
    margin: 0px;
  }
  .btn-nav-rp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .navbar{
    display: flex;
    justify-content: center;
  }
  .navbar a{
    text-align: center;
    margin-top: 5px;
  }
  .bg-light {
    background-color: #fff !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  a.nav-link{
    color: #1F3D89;
  }

  .navbar-light .navbar-nav .nav-link:hover{
    color: #7ECDED;
  }

  .active{
    color: #1F3D89;
    font-size: large;
    font-weight: bold;
  }
  
  .nav-link:hover{
    color:#7ECDED;
  }
  .navbar-light .navbar-nav .nav-link :active{
    color:#7ECDED;

  }
  .btn-nav{
    justify-content: space-between;
  }
  .btn-compte{
    border: 1px solid #1F3D89;
    color: #1F3D89;
    margin-right: 10px;
  }
  .btn-compte:hover{
    color: #FFF!important;
    background: #7ECDED!important;
    border: 1px solid #7ECDED!important;
  }
  .btn-connexion{
    background: #1F3D89;
    color: white;
  }
  .btn-connexion:hover{
    background: #7ECDED!important;
    border: 1px solid #7ECDED!important;
    color: white;
  }

  /*Navigation 2*/
  .nav-2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link{
    padding: 0px 5px 0px 5px;
  }

  .nav-2.nav-item.nav-link .active{
    color: #1F3D89!important;
  }

/***************** ACCUEIL *****************/
/* Bloc recherche praticien */
  .accueil{
    background-image: url('/images/accueil.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
  }
  .text-rh-ac span, .text-rh-ac p{
    display: none;
  }
  .rdv-accueil{
    padding: 15px;
    border-radius: 5px;
    background-color: #3589c9d0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .formu input{
    border-radius: 5px;
    border: 0px;
    padding: 3px;
  }
  .rechercher{
    margin-top: 10px;
    background-color: #1F3D89;
    color: white;
  }

/* Bloc comment ça marche */
  .comment-marche{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cm-1 p{
    text-align: center;
    color: #1F3D89;
    margin-top: 20px;
    font-size: 20px;
    font-weight: medium;
  }

  .cm-2{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cm-2 img{
    width: 150px;
    margin: 20px;
  }
  .cm-2 p{
    color: #1F3D89;
    margin-bottom: 20px;
    font-size: 16px;
  }

/* Bloc clinique apporte */
  .clinique-apporte{
    background-color: #3589C9;
  }
  .ca-1{
    margin-bottom: 60px;
  }
  .ca-1 p{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: medium;
    text-align: center;
    padding-top: 10px;
  }
  .ca-2 p{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: medium;
    text-align: justify;
  }
  .photo-ac{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photo-ac img{
    width: 90%;
    border-radius: 5px;
  }
  .desc-ac{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desc-ac p{
    padding-bottom: 10px;
    margin: 10px 20px 10px 20px;
  }

/* Bloc reserve en ligne */
  .rl-1{
    margin-bottom: 60px;
  }
  .rl-1 p{
    font-size: 20px;
    color: #1F3D89;
    font-weight: medium;
    text-align: center;
    padding-top: 10px;
  }
  .rl-2 p{
    font-size: 16px;
    color: #1F3D89;
    font-weight: medium;
    text-align: justify;
  }

/***************** A PROPOS *****************/
/* Bloc recherche praticien */
  .a-propos{
    background-image: url('/images/salle-attente.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
  }
  .text-rh-ap span, .text-rh-ap p{
    display: none;
  }
  .rdv-a-propos{
    padding: 15px;
    border-radius: 5px;
    background-color: #3589c9d0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .formu input{
    border-radius: 5px;
    border: 0px;
    padding: 3px;
  }
  .rechercher{
    margin-top: 10px;
    background-color: #1F3D89;
    color: white;
  }

/* Global page à propos */
  .clinique-regroupe, .clinique-lieu-soins, .quelque-info{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .clinique-lieu-soins{
    background-color: #3589C9;
  }
  .clr-1, .cls-1, .qi-1{
    text-align: center;
    margin-bottom: 60px;
  }
  .cls-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/* Bloc clinique regroupe */
  .clr-1 p{
    text-align: center;
    color: #1F3D89;
    margin-top: 20px;
    font-size: 20px;
    font-weight: medium;
  }
  .picto-ap{
    margin: 20px;
    width: auto;
    height: 150px;
  }
  .clr-2{
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .clr-2 img{
    border-radius: 5px;
    width: 150px;
    margin: 20px;
  }
  .clr-2 p{
    color: #1F3D89;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
  }

/* Bloc description clinique lieu soins */
.cls-1{
  margin-bottom: 60px;
}
.cls-1 p{
  font-size: 20px;
  color: #FFFFFF;
  font-weight: medium;
  text-align: center;
  padding-top: 10px;
}
.cls-2 p{
  font-size: 16px;
  color: #FFFFFF;
  font-weight: medium;
  text-align: justify;
}
.photo-ap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo-ap img{
  width: 90%;
  border-radius: 5px;
}
.desc-ap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.desc-ap p{
  padding-bottom: 10px;
  margin: 10px 20px 10px 20px;
}

/***************** QUELQUES INFOS (Apropos/Praticien) *****************/
  .infos-pt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
  }
  .info-pt{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .infos-pt p{
    font-size: 13px;
  }
  .infos-pt h3{
    font-size: 16px;
    color: #1F3D89;
  }
  .photo-pt iframe{
    width: 95%;
  }
  .photo-pt{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info{
    padding: 20px;
  }
  .info-pt{
    margin: 20px;
  }
  .qi-1 p{
    font-size: 25px;
    color: #1F3D89;
    font-weight: medium;
  }
  .qi-2 p{
    font-size: 16px;
    color: #1F3D89;
    font-weight: medium; 
  }

/***************** PRATICIENS *****************/

/* Bloc recherche praticien */
  .praticiens{
    background-image: url('/images/praticien.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
  }
  .text-rh-pt p {
    display: none;
  }
  hr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .rdv-praticiens{
    padding: 15px;
    border-radius: 5px;
    background-color: #3589c9d0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .rdv-praticiens p{
    color: white;
  }
  
  .formu input{
    border-radius: 5px;
    border: 0px;
    padding: 3px;
  }
  .rechercher{
    margin-top: 10px;
    background-color: #1F3D89;
    color: white;
  }

/* Global praticiens */
  .clinique-regroupe, .medecin, .kine, .dentiste, .quelque-info{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .medecin, .dentiste{
    background-color: #3589C9;
  }

  .clr-1 p {
    text-align: center;
    color: #1F3D89;
    margin-top: 20px;
    font-size: 20px;
    font-weight: medium;
  }
   .clr-1, .cls1, .qi-1{
    text-align: center;
    margin-bottom: 60px;
  }
  
  .cls-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .clr-1 p, .k-1 h2{
    font-size: 25px;
    color: #1F3D89;
    font-weight: medium;
  }
  .md-1 h2, .dt-1 h2{
    color: white;
    font-size: 25px;
    font-weight: medium;
  }
  
  

/* Design des cards */
  .card-praticiens{
    width: 15%;
    margin: 5px;
  }
  .card-praticiens h3{
    font-size: 14px;
  }
  .btn-pt{
    border-radius: 0px 0px 5px 5px;
  }

/* Bloc client regroupe */
  .picto-pt{
    margin: 10px;
    width: auto;
    height: 150px;
  }
  .clr-2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clr-2 img{
    border-radius: 5px;
  }
  .clr-2 p{
    font-size: 16px;
    color: #1F3D89;
    font-weight: medium;
    text-align: center;
  }

/* Carrousel */
  .medecin, .kine, .dentiste, .carousel.slide, .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

/***************** PAGE PRATICIEN EN SAVOIR PLUS *****************/

.praticien-sp{
  color: #1F3D89;
}

/***************** PRISE DE RDV *****************/
  /* Choix du praticien */
  .card-rdv-pt p, .card-rdv-pt h5, .card-rdv-pt .card-header{
    color: #1F3D89;
  }
  .card-rdv-pt{
    margin: 20px;
  }
  .rdv-pt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Choix de la date */
  .register-agenda{
    margin: 20px 0px;
  }
  .btn-agenda{
    background-color: #1F3D89;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
  }
  .h1-register-agenda{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-agenda{
    margin-top: 20px;
  }
  .card-agenda li{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  /* Confirmation rdv */
  .confirm-rdv{
    border-radius: 5px;
    border: 1px #1F3D89;
  }

/***************** NEWSLETTER *****************/

  .newsletter-subscribe {
    color:#313437;
    background-color:#fff;
    padding:50px 0px 0px 0px;
    text-align: center;
  }
  
  .newsletter-subscribe p {
    color:#7d8285;
    line-height:1.5;
  }
  
  .newsletter-subscribe h2 {
    font-size:20px;
    font-weight:bold;
    margin-bottom:25px;
    line-height:1.5;
    padding-top:0;
    margin-top:0;
    color:#1F3D89;
  }
  
  .newsletter-subscribe .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 25px;
  }
  
  .newsletter-subscribe .intro p {
    margin-bottom:35px;
  }
  
  .newsletter-subscribe form {
    justify-content:center;
  }
  
  .newsletter-subscribe form .form-control {
    background:#eff1f4;
    border:none;
    border-radius:3px;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:9px;
    height:45px;
    margin-right:10px;
    min-width:250px;
    margin-bottom: 20px;
  }
  
  .newsletter-subscribe form .btn {
    padding:16px 32px;
    border:none;
    background:none;
    box-shadow:none;
    text-shadow:none;
    opacity:0.9;
    text-transform:uppercase;
    font-weight:bold;
    font-size:13px;
    letter-spacing:0.4px;
    line-height:1;
  }
  
  .newsletter-subscribe form .btn:hover {
    opacity:1;
  }
  
  .newsletter-subscribe form .btn:active {
    transform:translateY(1px);
  }
  
  .newsletter-subscribe form .btn-primary {
    background-color:#055ada !important;
    color:#fff;
    outline:none !important;
  }

/***************** FOOTER *****************/

  .footer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background: #1F3D89;
  }

  .informationsftr{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container.informationsdivers{
    display:flex;
    padding-top: 20px;
  }

  .aproposdeclinikall{
    padding-bottom: 20px;
  }

  .trouverunspe{
    padding-bottom: 20px;
  }

  .recherchesfrequentes{
    padding-bottom: 40px;
  }

  /* Partie link */
  a.text-dark {
    color: #fff!important;
    font-size: 12px;
  }
  a.text-dark:hover {
    color: #7ECDED!important;
    text-decoration: none;
  }

  h5.text-uppercase{
    font-size: 13px;
    padding-bottom:5px;
  }

  /* Copyright */
  .copyright{
    font-size: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


/***************** PASSWORD_RESET *****************/

  .email-password-reset, .h1-password-reset{
    color: #1F3D89;
  }

/***************** REGISTER *****************/
  .h1-register-new, .required{
    color: #1F3D89;
  }
  .h1-register-new{
    font-size: 20px;
    margin: 20px 0px;
  }
  .register-new{
    max-width: 400px;
  }

/***************** CONNEXION *****************/
  .connexion{
    border:1px solid #1F3D89;
    border-radius: 5px;
    padding: 50px;
  }
  .champs-login, .h1-connexion, .co-gauche p{
    color: #1F3D89;
  }
  .btn-login{
    color: white;
    background-color: #1F3D89;
    margin-bottom: 10px;
  }
  .connexion input{
    margin-bottom: 10px;
  }
  .connexion .inscription-co{
    text-align: center;
  }
  .co-droite{
    text-align: center;
  }
  .co-droite img{
    width: 300px;
  }

/***************** ADMIN *****************/
  .espace-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .h1-espace-admin, .h2-espace-admin, .info-user-admin p, .info-user-admin h5, .info-user-admin h6{
    color: #1F3D89;
  }
  .h1-espace-admin, .h2-espace-admin{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
  }
  .h2-espace-admin{
    margin-top: 20px;
  }
  .card-admin{
    margin: 20px;
    border: 1px solid #1F3D89;
    border-radius: 5px;
  }
  .admin-recherche{
    width: 50%;
  }

/***************** USER *****************/
  .h1-espace-user, .info-user p, .info-user h5, .info-user h6{
    color: #1F3D89;
  }
  .h1-espace-user{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-user{
    margin: 20px;
    border: 1px solid #1F3D89;
    border-radius: 5px;
  }
  .card-user a{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/***************** DEMANDE COMPTE PRATICIEN *****************/
  .register label{
    color: #1F3D89;
  }
  .h1-register-pro{
    color: #1F3D89;
    margin: 20px 0px;
    font-size: 20px;
  }
  .formu-pro{
    max-width: 400px;
  }

/***************** RESPONSIVE *****************/


@media only screen and (min-width: 800px) {
  /******* RESPONSIVE HEADER ******/
  .identification{
    justify-content: space-between;
    flex-direction: row;
  }
  .btn-nav-rp a{
    display: inline;
  }
  #navbarNav {
    display: flex;
    justify-content: center;
  }
  
  
  /******** RESPONSIVE ACCUEIL ********/
  /* Bloc recherche praticien */
  .text-rh-ac span, .text-rh-ac p{
    display: block;
  }
  .text-rh-ac span{
    padding-bottom: 0px;
  }
  .rdv-accueil p{
    color: white;
  }
  .text-rh-ac p{
    font-size: 20px;
  }
  span{
    font-weight: bold;
  }
  hr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .rdv-accueil{
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

/* Global accueil */
  .comment-marche, .clinique-apporte, .reserve-ligne{
    flex-direction: column;
  }
  .cm-1, .ca-1, .rl-1{
    text-align: center;
    margin-bottom: 60px;
  }
  .ca-2, .rl-2{
    display: flex;
  }

/* Bloc comment marche */
  .cm-1 p{
    font-size: 25px;
  }
  .cm-2 p{
    font-size: 16px;
    font-weight: medium;
    text-align: center;
  }
  .cm-2{
    flex-direction: row;
    margin-top: 0px;
  }
  .cm-2 img{
    width: auto;
    height: 150px;
  }
  .cm-2 div{
    margin: 0px 20px 20px 0px;
  }

/* Bloc clinique apporte */
  
  .ca-1 p{
    font-size: 25px;
    padding-top: 20px;
  }
  .ca-2{
    padding-bottom: 20px;
  }
  .picto-ac{
    margin: 20px;
    width: auto;
    height: 150px;
  }
  .photo-ac{
    width: 50%;
  }
  .photo-ac img{
    width: 100%;
  }
  .desc-ac{
    width: 50%;
  }
  .desc-ac p{
    margin: 10px 40px 10px 40px;
  }

/* Bloc reserver en ligne */
  .rl-1 p{
    font-size: 25px;
    padding-top: 20px;
  }

/* Newsletter */
  .newsletter-subscribe form .form-control {
    margin-bottom: 0px;
  }

/******** RESPONSIVE APROPOS ********/
/* Bloc recherche praticien */
  .text-rh-ap span, .text-rh-ap p{
    display: block;
  }
  .text-rh-ap span{
    padding-bottom: 0px;
  }
  .rdv-a-propos p{
    color: white;
  }
  .text-rh-ap p{
    font-size: 20px;
  }
  span{
    font-weight: bold;
  }
  hr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .rdv-a-propos{
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

/* Bloc clinique regroupe */
  .clr-2{
    flex-direction: row;
    margin-top: 10px;
  }

/* Bloc description clinique lieu soins */
  .cls-2{
    flex-direction: row;
  }
  .cls-1 p{
    font-size: 25px;
  }
  .photo-ap{
    width: 50%;
  }
  .photo-ap img{
    width: 100%;
  }
  .desc-ap{
    width: 50%;
  }
  .desc-ap p{
    margin: 10px 40px 10px 40px;
  }

/***************** QUELQUES INFOS (Apropos/Praticien) *****************/
  .infos-pt{
    flex-direction: row;
  }
  .qi-2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
/********  Responsive NOS PRATICIENS ********/
  .praticiens{
    background-image: url('/images/praticien.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
  }
  span{
    font-weight: bold;
  }
  hr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .rdv-praticiens{
    padding: 15px;
    border-radius: 5px;
    background-color: #3589c9d0;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%)
  }
  .rdv-praticiens p{
    color: white;
  }
  .text-rh-pt p{
    font-size: 20px;
  }
  .formu input{
    border-radius: 5px;
    border: 0px;
    padding: 3px;
  }
  .rechercher{
    margin-top: 5px;
    background-color: #1F3D89;
    color: white;
  }


/******** RESPONSIVE RESERVATION RDV ********/
  /* Choix du praticien */
  .rdv-pt{
    justify-content: right;
  }

  /* Choix de la date */
  .date-reserver{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .card-agenda{
    margin: 10px 10px;
  }

/***************** RESPONSIVE CONNEXION *****************/
  .connexion{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .co-droite{
    width: 50%;
  }
  .co-droite img{
    width: 100%;
    border-radius: 5px;
    margin-left: 20px;
  }
  .co-gauche{
    width: 50%;
  }
  .resterco-mdp{
    display: flex;
    justify-content: space-between;
  }
<<<<<<< HEAD

=======
>>>>>>> 809d4824ae00d3096c640d4234523f32c1ba9687

/******* RESPONSIVE FOOTER ******/
  .container.informationsdivers{
    display:flex;
    flex: column wrap;
    padding-top: 20px;
  }
  .informationsftr {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .aproposdeclinikall {
    padding: 20px 10px 20px 40px;
  }
  .trouverunspe {
    padding: 20px 10px 20px 10px;
  }
  .recherchesfrequentes {
    padding: 20px 40px 20px 10px;
  }
}
