{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}

    <div class="container password-reset">
        <h1 class="h1-password-reset">Mot de passe oublié ?</h1>

        <form method="POST">
            <label class="email-password-reset" for="reset_email">Votre email :</label>
            <input type="email" id="reset_email" name="reset_email" class="form-control" placeholder="Veuillez inscrire votre email" required>
            <br>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
    
{% endblock %}
