<div class="politiquerelative">
<h4>
Politique de protection des données à caractère personnel - Version Janvier 2021</h4>
<br>
<h5>PRÉAMBULE</h5>
<br>
<p>
Les informations qui touchent à notre santé sont personnelles. À ce titre, elles doivent être protégées avec le plus grand soin.

Le respect de la vie privée est un droit fondamental et l’une des valeurs essentielles de CliniKall.

CliniKall s’engage à respecter la réglementation française et européenne sur la protection des données personnelles, en particulier le Règlement (UE) général sur la protection des données du 27 avril 2016 (“RGPD”) et la Loi Informatique et Libertés du 6 janvier 1978 modifiée (“LIL”).

Nous travaillons avec les autorités en charge de la protection des données, au niveau européen et pour chaque pays où nous sommes implantés, avec les acteurs publics responsables de l’organisation du système de santé, ainsi qu’avec l’ensemble des représentants des patients, des professionnels et des établissements de santé, pour nous assurer que nous respectons l’intégralité de nos obligations légales en matière de protection des données personnelles de santé.

CliniKall dispose d’une équipe dédiée à la protection des données à caractère personnel, incluant notamment un Délégué à la Protection des Données déclaré auprès de la CNIL, une équipe de sécurité, une équipe juridique et des ingénieurs spécialisés en protection des données.

Les données à caractère personnel (y compris de santé) des patients qui utilisent les services de CliniKall sont hébergées par un hébergeur d'infrastructure physique et infogéreur ayant reçu la certification HDS (Hébergeur de Données de Santé).

Pour plus d’informations sur les engagements pris par CliniKall pour protéger les données à caractère personnel de santé des ses utilisateurs, vous pouvez consulter notre Charte de protection des données à destination des patients ainsi que celle à destination des professionnels de santé.

</p>


</div>