{% extends 'base.html.twig' %}

{% block title %}Réservation praticiens{% endblock %}

{% block body %}

    <div class="container rdv-pt">

        {% for listepro in listepros %}
            <div class="card card-rdv-pt bg-light mb-3">

                <div class="card-header">{{ listepro.lastname|upper }} {{ listepro.firstname|upper }}</div>

                <div class="card-body">
                    <h5 class="card-title">{{ listepro.descriptionPatient|upper }}</h5>
                    <p class="card-text">Spécialisé dans son domaine</p>
                    <a class="btn btn-primary" href="{{ path('reservation_agenda',{id: listepro.id,date: "tomorrow"|date('Y-m-d') }) }}">Prendre un RDV</a>
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}