{% extends "email/base.email.twig" %}

{% block body %}
<p>Nous avons pris en compte votre demande d'inscription.</p>
<p>Nous étudions votre dossier.</p>
<p>Nous vous contacterons prochainement.</p>
</br>
    
{% endblock %}