<header style="font-weight: bold; margin-bottom: 30px;">
    Site DE CliniKall
    <hr>
</header>

{% block body %}{% endblock %}

<div style="margin-top: 20px;">
    Cordialement, <br>
    L'équipe de CliniKall.
</div>

<footer style="margin-top: 30px;">
    <hr>
    
</footer>