{% extends "email/base.email.twig" %}

{% block body %}
<p>Bonjour {{ user.firstname }}</p>
Veuillez cliquer sur ce lien pour réinitialiservotre email:
    <a href="{{ link }}">Réinitialiser votre mot de passe</a>.
    </br>
    
{% endblock %}